@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet');

:root {
    --green: #28a745;
    --middle-green: #27893a;
    --blue: #0284d0;
    --dark-blue: #1D6695;
    --dark-grey: #333;
    --light-blue-background: #E5F2FA;

    --header-height: 70px;
    --max-width: 1100px;
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--light-blue-background);
    color: var(--dark-grey);
}

.container {
    max-width: var(--max-width);
    margin: var(--header-height) auto 0;
    padding: 0 2rem;
    overflow: hidden;
    background-color: var(--light-blue-background);
}

.card {
    background: #fff;
    padding: 1rem;
}

ul {
    list-style: none;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

.text-primary {
    color: var(--green);
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745; 
    border: none;
    border-radius: 5px;
}

.gray-border {
    /* border-top: rgb(51, 51, 51, 0.8) 1px solid; */

    border-top: #222 1px solid;

}

.btn:hover {
    opacity: 0.9;
}

.btn-dark, .bg-dark {
    background: #555;
    color: #fff;
}

.btn-light, .bg-light {
    background: var(--light-blue-background);
    color: #333;
}

.divider {
    margin: 0 4rem;
    padding: 0;
    height: 3px;
    border-radius: 5px;
    background-image: linear-gradient(var(--light-blue-background), #fff, var(--light-blue-background));
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    top: 0px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    /* -webkit-opacity: 1; */
    padding: 0 30px;
    transition: 0.5s;
}

.navbar a {
    color: #fff;
    padding: 10px 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: var(--green) 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
}

.navbar .logo img {
    max-width: 50px;
    height: auto;
    padding-right: 10px;
}

/* home area under header */

.info-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20h;
    background-color: var(--light-blue-background);
    padding: 20px;
}

.info-message h1 {
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--green);
}

.info-message p {
    font-size: 20px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.info-message a, a.current {
    color: var(--green);
}

.info-message a:hover {
    border-bottom: #28a745 2px solid;
}

.news-record {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 2.5rem;
    gap: 10px;
}

.news-picture {
    max-width: 200px;
    height: auto;
    padding-top: 1rem;
}

.news-content {
    text-align: left;
    padding: 1rem;
    padding-left: 0;
}

.news-content p {
    font-size: 15px;
}

/* contact page */

.contact-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 3rem 0;
    gap: 2rem;
    grid-template-areas: 
    "header header"
    "address map";
}

.contact-title {
    grid-area: header;
    text-align: center;
    font-weight: 400;
}

.contact-address {
    grid-area: address;
    padding: 1.5rem;
}

.contact-address h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--green);
}

.contact-address i {
    margin-right: 5px;
}

.contact-address p {
    padding: 0;
    line-height: 1rem;
}

.contact-address a {
    color: var(--green);
}

.contact-address a:hover {
    border-bottom: var(--green) 2px solid;;
}

.contact-map {
    grid-area: map;
}


@media (max-width: 1048px) {
    .navbar>nav {
        display: none;
    }

    .contact-page {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "address"
            "map";
        text-align: center;
    }
}

@media (max-width: 760px) {
    .news-record {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}

@media(max-width: 500px) {
    .contact-map iframe{
        width: auto;
    }

    .contact-map {
        padding: 0;
    }
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}
